.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/images/login-img.webp") no-repeat center
    center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login-section {
  position: absolute;
  max-height: 97vh;
  width: 80vw;
  padding: 10px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  opacity: 0.9;
}

.login-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-google-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 50px;
  cursor: pointer;
}

.section-divider {
  display: flex;
  margin-top: 20px;
}

.section-divider hr {
  width: 60px;
  height: 0.5px;
  border: 1px solid lightgray !important;
}

.section-divider p {
  color: rgb(194, 194, 194);
  font-style: italic;
  font-size: smaller;
  margin: 0px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-input {
  border: 1px solid lightgray;
  outline: none;
  border-radius: 20px;
  height: 35px;
  margin: 10px;
  padding-left: 10px;
}

.login-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}

.login-checkbox a {
  text-decoration: none;
  margin-left: 8px;
}

.login-btn-checkbox {
  margin-right: 10px;
}

.login-btn-entrar {
  background-color: #2d4357;
  color: #e4e3d6;
  border-radius: 20px;
  border: none;
  height: 35px;
  width: 250px;
  margin: 20px auto;
}

.login-btn-entrar:hover {
  background-color: #4b7092;
  transform: translate(1px, -1px);
}

.section-img {
  display: none;
}
