<app-menu></app-menu>

<!-- 🆗get-pet
     🆗get-pet-by-id
     post-pet
     delete-pet
     update-pet
     🆗post-vaccine
     🆗update-vaccine
     🆗delete-vaccine
     get-vaccine
  -->
<main>
  <p-toast />
  <p-treeTable
    [value]="files"
    [columns]="cols"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption"
      ><div class="text-xl font-bold">Lista de Pets</div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>

      <tr *ngIf="isEmpty">
        <td [style]="{ 'padding-top': '50px', 'text-align': 'center' }">
          Lista Vazia
        </td>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-rowNode
      let-rowData="rowData"
      let-columns="columns"
    >
      <tr [ttRow]="rowNode">
        <td *ngFor="let col of columns; let i = index; let last = last">
          <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
          {{ rowData[col.field] }}
          <ng-container *ngIf="last">
            <p-button
              icon="pi pi-search"
              rounded="true"
              [style]="{
                'margin-right': '.5em',
                background: 'white',
                color: 'black'
              }"
              (onClick)="getPetDetailsComponent(rowData._id)"
            />

            <p-button
              icon="pi pi-trash"
              rounded="true"
              [style]="{ background: 'white', color: 'black' }"
              (onClick)="deletePet(rowData)"
            />
          </ng-container>
        </td>
      </tr>
      <p-confirmDialog [style]="{ width: '450px' }" />
    </ng-template>
    <ng-template pTemplate="summary"></ng-template>
  </p-treeTable>
</main>
