@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

main {
  width: 70vw;
  height: 80vh;
  margin: 150px auto;
}

.p-btn {
  display: inline-block;
}
